groq
langchain
langchain-groq
langchain-community
pyyaml
python-dotenv
sounddevice
numpy
scipy
webrtcvad
pyaudio
simpleaudio
pydub
ffmpeg-python
requests
aiohttp
loguru
pytest
pytest-mock
twilio
pypdf
unstructured
faiss-cpu
chromadb
sentence-transformers
huggingface-hub
yaml


-e .